/*RESE*/
* {
  padding: 3px;
  margin: 0px;
  src: url(fuentes/Romelio.otf);
}
/*HEADER*/
body {
  background:rgb(190, 190, 190);
}
header {
  width: 100%;
  height: 250px;
  background: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.uno {
  width: 500px;
  height:400px;
  padding:80px;
  margin:0;
}
.logo {
  text-transform: uppercase;
  color: #F9CE55;
  font-weight: 150;
}
h2 {
  font-size: 50px;
  text-align: center;


}
.menu {
  padding: 5px;
  display: block;
}
.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 10px;
  transition: 0.4s;
}
.mostrar-menu,
.esconder-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
  transition: 0.4s;
}
.mostrar-menu {
  order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
  color:  #F9CE55;
}
#check {
  display: none;
}
/*RESPONSIVE*/
@media (max-width: 940px) {
  /*HEADER*/
  .mostrar-menu,
  .esconder-menu {
    display: inline-flex;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #4d4d5c;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 100px 0px;
    z-index: 100;
    transition: 0.8s;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .esconder-menu {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #check:checked ~ .menu {
    right: 0;
    background: white;
  }
}


.container{
  width: 400px;
  height: 646px;
  margin-top: 10px;
  border:15px outset #F9CE55;
  background-color: rgb(0, 0, 0);
  color: white;
  flex-flow: row wrap;
}
.caja1{
  width: 390px;
  height: 30px;
  border: solid 1px  #F9CE55;
}
.caja2{
  width: 390px;
  height: 30px;
  border: solid 1px  #F9CE55 ;
}
.caja3{
  width: 390px;
  height: 300px;
  border: solid 1px #F9CE55 ;
}
.caja4{
  width: 390px;
  height: 50px;
  border: solid 1px #F9CE55 ;
  
}
#valor{
  text-align: right;
  margin-right: 5px;
}
.caja5{
  width: 390px;
  height: 50px;
  border: solid 1px #F9CE55 ;
}
.caja6{
  width: 390px;
  height: 50px;
  border: solid 1px  #F9CE55;
}
#cantproductos{
  text-align: right;
  margin-right: 5px;
}
.caja7{
  width: 390px;
  height: 80px;
  border: solid 1px  #F9CE55;
}
.button{
  background-color: #F9CE55;
  color: black;
  position: relative;
  position: absolute;
  left: 11% ;
  margin: 25px;
  text-decoration: none;
}
.button:hover{
box-shadow: 0 0 8px  #F9CE55, 0 0 30px  #F9CE55, 0 0 30px  #F9CE55;
transition: 1s;
}
.imagen{
  width: 160px;
  height: 230px;
   border:8px outset #F9CE55;
}
.icon-cross{
  color: goldenrod; 
  float: right;
  width: 14px;
  margin-right: 4px;
}





.footer{
  width: 100% ;
  height: 120px;
  line-height:55px ;
  background: black;
  margin-top: 30px;
  text-align: center;
  font-size: 25px;
  color:#F9CE55;

}
